<div class="full">
	<nav id="toolbar">
		<a routerLink="/home" routerLinkActive="active">
			  <img
				alt="Logo"
				src="http://companyru.ru/images/logo/a9475c090eae9376297a151b52b73187.png"
			  />
		</a>
		<ul>
		<li><a routerLink="/home" routerLinkActive="active">О сайте</a>
		<li><a routerLink="/work" routerLinkActive="active">Найти работу</a>
		<li><a routerLink="/home" routerLinkActive="active" >Найти работников</a>
		<li><a routerLink="/home" routerLinkActive="active">Контакты</a>
		</ul>
	</nav>
	<router-outlet></router-outlet>
</div>







