<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  #toolbar {
	height :60px;
	margin :-8px;
    display: flex;
    align-items: center;
    background: #f8f9fa;
    color: yellow;
  }
  #toolbar img {
    margin-left:15px;
	margin-top:5px;
	width:90px;
	height:45px;
  }
  #toolbar li {
	display:inline-block;
	margin:0px;
	margin-right:10px;
	margin-left:10px;
  }
   #toolbar a{
	color: #ffbb00;
	text-decoration: none;
	font-size: 1rem;
  }
  #toolbar a:hover{
	color: #FF4500;
  }
  .container{
    display:inline-block;   
    position:relative;
	}
	.container img{
	display: block;
	margin: 0 auto;
	margin-top:16px;
    width:90%;  
    height:auto;
	}
	.container div { 
	position: absolute;
	top: 10%;
	left: 20%;
	margin-right:20%;
    background-color: rgba(0,0,255,.5); 
    padding: 5px 5px 5px 10px;
    color: white;
	}
</style>

<nav id="toolbar">
	<a href ="http://htmlbook.ru/html/Nav">
		  <img
			alt="Logo"
			src="http://companyru.ru/images/logo/a9475c090eae9376297a151b52b73187.png"
		  />
	</a>
	<ul>
	<li><a href = "">О сайте</a>
	<li><a href = "">Найти работу</a>
	<li><a href = "">Найти работников</a>
	<li><a href = "">Контакты</a>
	</ul>
</nav>

<div class="container">
    <img src="https://tengrinews.kz/userdata/news/2018/news_352586/photo_259254.jpg" alt="background-image">
    <div><p>Агентство по развитию человеческого потенциала и трудовых ресурсов Ульяновской области</p>
	<p>Контактные данные<br/>Адрес 432980, г. Ульяновск, ул. Кузнецова, 5а<br/>Телефон 41-72-01(приёмная)</p>
    </div>
</div>



